# Auto generated
/.gradle/
/.idea/
/bin/
/build/

# Logs
*.log
*.log.*

# Eclipse
!/.classpath
!/.project
/.settings/*
!/.settings/org.eclipse.jdt.core.prefs

# Visual Studio Code
/.vscode/*
!/.vscode/launch.json

# H2 database
/h2-data/
