<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <th:block th:insert="fragment/head"></th:block>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title is-size-4 has-text-weight-light">
          トップページ
        </h1>

        <div class="message is-info">
          <div class="message-body">
            トップページです
          </div>
        </div>
      </div>
    </section>

    <th:block th:insert="fragment/footer"></th:block>
  </body>
</html>
