<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <th:block th:insert="fragment/head"></th:block>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title is-size-4 has-text-weight-light">
          新着商品
        </h1>

        <div class="columns is-multiline">
          <div class="column is-one-third" th:each="item : ${items}">
            <div class="card">
              <a
                class="card-image"
                th:href="@{/item/detail/{id}(id=${item.id})}"
              >
                <figure class="image is-square">
                  <img th:src="@{${item.jacketImg}}" />
                </figure>
              </a>

              <div class="card-content">
                <p class="title is-4">
                  <a th:href="@{/item/detail/{id}(id=${item.id})}">
                    [[${item.title}]]
                  </a>
                </p>
                <p class="subtitle is-6">
                  [[${item.artistTitle}]] ([[${item.genreTitle}]])
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <th:block th:insert="fragment/footer"></th:block>
  </body>
</html>
